parameters:
	database:
		driver: oci8
		host: classgenerator-host
		user: classgenerator-user
		password: classgenerator-password
		# SID
		servicename: classgenerator-sid
		# schema
		dbname: classgenerator-dbname
		port: classgenerator-port

	# namespace that all generated classes will belong to
	classNamespace: 'App\Model\Tables'

	# namespace for DataTypes class
	datatypeNamespace: 'App\Model\DataTypes'

	# folder which classes will be generated into
	outputDirectory: 'output'

	# folder for logs and exceptions
	logDirectory: 'log'

