parameters:
    database:
        driver: oci8
        host: localhost
        user: ''
        password: ''
        servicename: ''
        dbname: ''
        port: 1521
    outputDirectory: 'output'
    classNamespace: 'App\Model\Tables'
    datatypeNamespace: 'App\Model\DataTypes'
    logDirectory: 'log'

services:
	- Kapcus\ClassGenerator\Model\Manager(%outputDirectory%, %classNamespace%, %datatypeNamespace%)
	- Kapcus\ClassGenerator\Model\Configurator(%database%)
	- Kapcus\ClassGenerator\Model\DibiExecutor(%logDirectory%)

	- Kapcus\ClassGenerator\Model\DatabaseFactory

	# commands
	- Kapcus\ClassGenerator\Command\CheckCommand
	- Kapcus\ClassGenerator\Command\GenerateCommand